* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 700px;
  background-color: #d0a1c62a;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

header {
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: rgb(156, 43, 212);
}

form {
  padding: 25px;
}

.row {
  display: flex;
  gap: 13px;
  margin-bottom: 6px;
}

.input-group {
  flex: 1;
  margin-bottom: 13px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #242020;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
}

.radio-inline {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.radio-label {
  display: flex;
  font-weight: normal;
  gap: 5px;
  align-items: center;
}

.hobby-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-size: 14px;
}

.qual-table {
  width: 100%;
  margin-top: 10px;
  background: white;
  border-collapse: collapse;
}

.qual-table th,
.qual-table td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.qual-table th {
    color: #636363;
    font-weight: normal;
}

.qual-table input{
    width: 100%;
    border: 1px solid #ddd;
    padding: 4px;
}

.button-group{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 15px;
}
  
button {
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn-reset {
    background: white;
    border: 2px solid #ddd;
    color: #444;
}

.btn-submit {
    background: rgb(156, 43, 212);
    color: white;
}
button:hover {
    opacity: 0.8;
}